
*.xcworkspacedata

*.xcuserstate

*.xcscheme

MyNotes.xcodeproj/xcuserdata/yangyihui.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

MyNotes.xcodeproj/xcuserdata/yangyihui.xcuserdatad/xcschemes/xcschememanagement.plist
